version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: daily
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  groups:
    aws-sdk:
      patterns:
        - "@aws-sdk/*"
  ignore:
    - dependency-name: "@aws-sdk/*"
      update-types: ["version-update:semver-patch"]
    - dependency-name: "@types/node"
      update-types: ["version-update:semver-patch"]
